
<html>
    <head>
        <meta name="viewport" content="with=divice-width, initial-scale=1.0">
        <title>ICU Need Beds</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <header>
            <!--comments   Left at 16:30   https://www.youtube.com/watch?v=oYRda7UtuhA--> 
            <div class="nav-links">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{url_for('index')}}">HOME</a href></li>
                    <li><a href="{{url_for('mainDashboard')}}">Main Dashboard</a href></li>
                    <li><a href="{{url_for('predictionDashboard')}}">Prediction Dashboard</a href></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <div class="text-box">
                <h1>ICU Need Beds Homepage</h1>
                <p>Take a look across our options in navigation bar to find
                    the resources you're looking for including our research 
                    paper, present state map of ICU beds, and our projected
                    ICU map in the coming weeks. 
                </p>
                <a href="{{url_for('mainDashboard')}}" class="hero-btn">Main Implementation</a>
            </div>
        </header>


    </body>

</html>
